{{!< default}}

        {{#post}}
    {{navigation}}

<main class="content" role="main">

    <header class="post-header">

        <h1 class="post-title">{{{title}}}</h1>
    </header>

    <article class="post-page {{post_class}}">

        {{! Everything inside the #post tags pulls data from the post }}

            <span class="post-meta">
              <time datetime="{{date format="YYYY-MM-DD"}}">
              {{date format='DD MMMM YYYY'}}</time>
              {{tags prefix="in " separator=" | "}}
            </span>

            <section class="post-content">
                {{#if feature_image}}
                    <img class="post-featured-hero" src="{{img_url feature_image}}"/>
                {{/if}}
                {{content}}
                <span class="author-post-footer">
                  Written by
                  {{#foreach authors}}
                  <img class="author-img-post" src="{{img_url profile_image}}"
                  title="{{name}}"/>
                  <a class="author-posturl" href="{{url}}">{{name}}</a>.
                  {{/foreach}}
                </span>
                {{> nav-goto_subscribe}}
                {{> mailform}}
            </section>
    </article>

    <aside class="read-next">

        {{#prev_post}}
        <a class="read-next-story prev {{#if feature_image}}"
        style="background-image: url({{img_url feature_image}}){{else}}no-cover{{/if}}"
        href="{{url}}">
            <section class="post">
                <h2>{{title}}</h2>
                <p>{{excerpt words="19"}}&hellip;</p>
            </section>
        </a>
        {{/prev_post}}

        {{#next_post}}
        <a class="read-next-story {{#if feature_image}}"
        style="background-image: url({{img_url feature_image}}){{else}}no-cover{{/if}}"
        href="{{url}}">
            <section class="post">
                <h2>{{title}}</h2>
                <p>{{excerpt words="19"}}&hellip;</p>
            </section>
        </a>
        {{/next_post}}
    </aside>
    {{/post}}
</main>
</script>
