{{!< default}}
    {{navigation}}

    <div class="site-wrapper">
{{#tag}}
    <header class="post-header tag-header  {{#if feature_image}}" no-cover{{else}}no-cover{{/if}}">
    <section class="tag-archive-header">
        <h1>{{name}}</h1>
        <p class="inner">{{description}}</p>
        <h2 class="page-description"><b>{{plural ../pagination.total empty='No posts' singular='% post' plural='% posts'}}</b> in collection</h2>
    </section>
    </header>
    {{/tag}}

<main class="tag-content" role="main">
    <div class="tag-tiles">
      <div class="post-feed">
          {{#foreach posts}}
              {{> "post-card"}}

          {{/foreach}}
      </div>

    </div>
{{pagination}}

</main>
</div>

{{#if pagination.pages}}
  <script>
      // maxPages is a global variable that is needed to determine
      // if we need to load more pages for the infinitescroll, or if
      // we reached the last page already.
      var maxPages = parseInt('{{pagination.pages}}');
  </script>
  <script src="{{asset "js/infinitescroll.js"}}"></script>
{{/if}}
